<ul class="list-group">
  <li class="list-group-item comment">
    <strong><%= comment.user.email %>: </strong><%= comment.body %>
    <span>
      <p class="card-text">
        <small class="text-muted">Posted <%= time_ago_in_words(comment.created_at) %> ago </small>
      </p>
      <% if comment.files.attached? %>
        <% comment.files.each do |file| %>
            <%= cl_image_tag file.key, :width=>150, :crop=>"fill", :cloud_name => Rails.application.credentials.cloudinary[:cloud_name] %>
        <% end %>
        <br/><br/>
      <% end %>
      <a class="comment-form-display" href="#">Reply</a>
      <div class="comment-form">
        <%= render 'comments/form', locals: {post: @post, parent: @parent = comment} %>
      </div>
      <div class="sub-comment">
          <%= render comment.comments %>
      </div>
    </span>
  </li><br/>
</ul>

<script>
    document.querySelectorAll('.comment-form-display').forEach((el) => {
      el.addEventListener('click',(ev) => {
          ev.preventDefault();
          el.nextElementSibling.style = 'display: block; margin-top:20px'
      })
    })
</script>
