<p id="notice"><%= notice %></p>

<h2>Recent posts</h2>
<br/>

<% @posts.each do |post| %>

  <div class="card mb-3" style="max-width: 90%;">
    <div class="row g-0">
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p><b>Posted by: </b><%= post.user.email %></p>
          <p class="card-text"><%= post.description %></p>
          <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(post.created_at) %> ago </small></p>
          <p class="card-text"><small class="text-muted">Last Updated <%= time_ago_in_words(post.updated_at) %> ago </small></p>
          <%= link_to 'Show', post, class:"btn btn-primary" %>
        </div>
      </div>
    </div>
  </div>

<% end %>

<br>
<%= link_to 'New Post', new_post_path, class:"btn btn-primary" %>
<br>
<br>
<br>

