<p id="notice"><%= notice %></p>

<div class="card mb-3" style="max-width: 90%;">
    <div class="row g-0">
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title"><%= @post.title %></h5>
          <p><b>Posted by: </b><%= @post.user.email %></p>
          <p class="card-text"><%= @post.description %></p>
          <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(@post.created_at) %> ago </small></p>
          <p class="card-text"><small class="text-muted">Last Updated <%= time_ago_in_words(@post.updated_at) %> ago </small></p>          
          <% if @post.files.attached? %>
            <% @post.files.each do |file| %>
              <%= cl_image_tag file.key, :width=>150, :crop=>"fill", :cloud_name => Rails.application.credentials.cloudinary[:cloud_name] %>
            <% end %>
          <% end %>
          <br/><br/>
          <% if current_user.id == @post.user_id && @post.published? %>
            <a class="suggestions-display" href="#">Show Suggestions</a>
            <div class="suggestion-form">
              <%= render 'suggestion/suggestions', locals: {post: @post} %>
            </div><br/><br/>
            <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-warning" %>
            <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          <% elsif current_user.id != @post.user_id %>
            <a class="suggestion-form-display" href="#">Add Suggestion</a>
            <div class="suggestion-form">
              <%= render 'suggestion/form', locals: {post: @post} %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
</div>

<%= render partial: 'likes/button', locals: { likeable: @post } %>

<% if @post.published? %>
  <br/>
  <h3>Comments</h3>
  <hr/><br/>
  <%= render @post.comments.where(parent_id: nil).includes(:user).order(id: :desc) %><br/>

  <h3>Add comment</h3><hr/><br/>
  <%= render 'comments/form', locals: {post: @post, parent: @parent = nil} %>
<% end %>
<br/>
<%= link_to 'Back', posts_path, class:"btn btn-primary" %>
<br/><br/>

<script>
document.querySelectorAll('.suggestion-form-display').forEach((el) => {
  el.addEventListener('click',(ev) => {
      ev.preventDefault();
      el.nextElementSibling.style = 'display: block; margin-top:20px'
  })
  })
</script>

<script>
document.querySelectorAll('.suggestions-display').forEach((el) => {
  el.addEventListener('click',(ev) => {
      ev.preventDefault();
      el.nextElementSibling.style = 'display: block; margin-top:20px'
  })
  })
</script>
