<p id="notice"><%= notice %></p>

<div class="card mb-3" style="max-width: 90%;">
    <div class="row g-0">
      <div class="col-md-12">
        <div class="card-body">
          <h5 class="card-title"><%= @post.title %></h5>
          <p><b>Posted by: </b><%= @post.user.email %></p>
          <p class="card-text"><%= @post.description %></p>
          <p class="card-text"><small class="text-muted">Posted <%= time_ago_in_words(@post.created_at) %> ago </small></p>
          <p class="card-text"><small class="text-muted">Last Updated <%= time_ago_in_words(@post.updated_at) %> ago </small></p>          
          <% if @post.file.attached? %>
              <%= cl_image_tag @post.file.key, :width=>150, :crop=>"fill", :cloud_name => Rails.application.credentials.cloudinary[:cloud_name] %>
          <% end %>
          <br/><br/>
          <%= link_to 'Back', posts_path, class:"btn btn-primary" %>
          <% if current_user.id == @post.user_id %>
            <%= link_to 'Edit', edit_post_path(@post), class:"btn btn-warning" %>
            <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class:"btn btn-danger" %>
          <% end %>
        </div>
      </div>
    </div>
</div>


<br/>
<h3>Comments</h3>
<hr/><br/>
<%= render @post.comments %><br/>

<h3>Add comment</h3><hr/><br/>
<%= render 'comments/form', locals: {post: @post} %>
<br/><br/>
